* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins';
    font-style: normal;
}

.third_block {
    background-color: #f7c7b9;
    padding: 10rem 2rem 10rem 2rem;
}

.third_block .information {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.third_block .information #main_image {
    width: 40%;
    height: 40%;

    padding: 0 0 0 10%;
}

.third_block .information2 {
    padding: 0 11% 0 13%;
}

.third_block .information2 #gift {
    height: 2.4rem;
    width: 2.4rem;

    margin-right: 4%;
}

.third_block .information .information2 h1 {
    font-weight: 60rem;
    font-size: clamp(3rem, 3vw, 4.8rem);
    line-height: clamp (3rem, 5vw, 5.2rem);
    color: var(--black-light);
}

.third_block .information .information2 p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
    font-weight: 50rem;
    font-size: 1.6rem;
    line-height: 2.4rem;

    color: #404040;
}

.third_block .information .information2 button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 20.8rem;
    height: 4.8rem;

    color: #F9F9F9;
    background: #DA2535;
    border-radius: .8rem;
    border: none;

    cursor: pointer;
}

.third_block .information .information2 button:hover {
    transform: scale(.980);
    filter: brightness(.940);
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #F9F9F9;

    height: 10rem;
    padding: 0 5rem 0 2rem;
}

footer ul {
    display: flex;
    justify-content: space-between;
    gap: 5rem;

    list-style: none;
}

/* Medias Queryes */

@media (min-width: 550px) and (max-width: 950px) {
    .third_block .information #main_image {
        width: 50%;
        height: 50%;
    }

    .third_block .information2 h1 {
        font-size: 20rem;
    }

    .third_block .information .information2 {
        padding-left: 5rem;
    }
}

@media (max-width: 600px) {
    .third_block .information #main_image {
        display: none;
    }

    .third_block .information {
        flex-direction: column;
        text-align: center;
    }

    .third_block .information .information2 h1 {
        font-size: 2.4rem;
        line-height: 3.6rem;

        text-align: center;
    }

    .third_block .information .information2 p {
        font-size: 1.4rem;
        line-height: 2.1rem;
        text-align: center;
    }

    .third_block .information .information2 button {
        height: 3rem;
        width: 100%;
    }

    footer {
        justify-content: center;
    }

    footer #noel {
        display: none;
    }
}

@media (max-width: 400px) {
    .third_block .information .information2 button {
        width: 100%;
    }

    footer ul {
        gap: 2rem;
        margin-left: 2rem;
    }
}

