* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins";
}

header {
    display: flex;
    justify-content: space-between;

    font-size: 1.6rem;

    padding: 2.8rem 11.4rem 2.8rem 11.4rem;
    background-color: #F7C7B9;
}

header img {
    justify-self: center;
    align-self: center;

    height: 4rem;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    list-style: none;
}

header ul li h2 {
    font-size: 1.6rem;
}

/* FIRST_BLOCK */
.first_block {
    background-color: #F7C7B9;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    padding: 5rem 10rem 5rem 10rem;
}

.first_block .information {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    width: 35%;
}

.first_block .information h1 {
    font-size: 4.8rem;
    line-height: 5.2rem;

    color: #161212;
}

.first_block .information p {
    font-size: 1.6rem;

    color: #404040;
}

.first_block .information button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 25.0rem;
    height: 4.8rem;

    background-color: #DA2535;

    border: none;
    border-radius: 0.6rem;
}

.first_block .information button img {
    height: 50%;
    width: 50%;
}

.first_block .information button h2 {
    font-size: 1.6rem;
    width: 100%;

    color: #F9F9F9;

    margin-right: 3.2rem;
}

.first_block section img {
    height: 100%;
    width: 100%;
}

.first_block .information2 {
    padding-left: 5rem;
}

/* Second_block */
.second_block {
    background-color: white;
}

.second_block .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    padding-top: 4.8rem;
}

.second_block .information h1 {
    font-size: 4.8rem;
}

.second_block .information p {
    font-size: 1.6rem;
    text-align: center;
    color: #404040;

    width: 50rem;
}

.second_block .information2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 50vh;
}

.second_block .information2 h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
}

.second_block .information2 p {
    width: 19.8rem;
    font-size: 1.6rem;
    color: #8D8D8D;
}

.second_block .information2 div {
    text-align: center;
}
























@media (max-width: 950px) {
    header ul{
        display: none;
    }

    .first_block .information2 img {
        display: none;
    }

    .first_block .information {
        width: 100%;

        align-items: center;
        text-align: center;

        margin-left: 5rem;
    }

    .second_block .information2 {
        flex-direction: column;
    }

    .second_block .information p {
        width: 50%;
    }
}



    






